
body{ font-family: Helvetica, sans-serif; font-size:11px; background-image:url(../images/bg.jpg); color:#292A2B; text-shadow: 0 1px 0 white;}
a{color: #555555; text-decoration:none}
a:hover{color: #ff0000; text-decoration:none}
.wrapper{ margin:0px auto; width:100%;}
#contentWrapper{
    height:auto;
    margin:150px 50px;
}
#contentWrapper .column {
    float: left;
    min-height: 800px;
    height:auto !important;
}
.noteBlock {
    float:left;
    background-clip: border-box;
    background-color: #FCFCFC;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px #8C8E91;
    color: #292A2B;
    font-size: 11px;
    min-height: 10px;
    text-align: left;
    margin:6px;
    width :97%
}

.adj1{
    color: tomato;
    font-family: Helvetica,sans-serif;
    font-size: xx-large;
    line-height: 18px;
    margin: 24px 42%;
    padding-left: 25px;
}
.adj2{ color:#000; font-family: Helvetica, sans-serif; line-height:14px; text-align:left; padding-left:25px;}
.top-block1{  clear:both; padding-top:5px;  padding-bottom:10px; color:#000;  height:65px; background-color:#f4f4f4; width:100%; box-shadow: 3px 3px 4px #C9CACC;  }



.mid-cont{ padding:12px;}
.noteTitle{
    border-bottom-color: #E0E0E0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #717171;
    font-size: 13px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;

}

.left {
    float: left;
}


:-moz-any-link {
    cursor: pointer;
}
.noteContent {
    color:#8A8986;font-size:16px;padding:12px;border-top:1px solid white;height:200px;
}

.top{
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    box-shadow: 3px 3px 4px #C9CACC;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.widget-placeholder { border: 2px dashed #999;}

